
<link href="../public/styles/form.css" type="text/css" rel="stylesheet">

<form method="post" action="/submit" id="form">

    <div class="row">
            Chingu user name:<input required="required" class="input" class="medium" id="userName" name="userName" type="text" placeholder="@userName">
            Join Date:<input required="required" class="input" class="small" id="joinDate" name="joinDate" type="date">
    </div>

    <div class="row">
        Portfolio URL:<input class="input" class="medium" id="portfolioURL" name="portfolioURL" type="url" placeholder="optional">
        Cohort:<input required="required " class="input" class="small" id="joinDate" name="joinDate" type="date">
    </div>

    <div class="row">
        Chingu user name:<input class="input" class="medium" id="userName" name="userName" type="text" placeholder="@userName">
        Join Date:<input class="input" class="small" id="joinDate" name="joinDate" type="date">
    </div>

</form>