<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chingu | Create Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- google font roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/createProfile.css">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="jumbotron" v-if="!userCreated">
          <div class="row">
            <div class="col-lg-12">
              <h2>Create Your Chingu Profile</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="text-danger">Required *</p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <form @submit="submitForm" action="/form" method="post">
               
                <!-- userName & join date -->
                <div class="form-group row" >
                    <div class="col-lg-3" :class="{'has-error': (userNameInUse || invalidUsername)}">
                      <label for="userName">userName (use your Slack name) <span class="text-danger">*</span></label>
                      <input 
                        type="text" 
                        class="form-control" 
                        placeholder="the-happy-meerkat"
                        v-model="userData.userName"
                        @keyup="usernameCheckHandler"
                        autofocus
                        required
                      >
                      <span class="help-block" v-if="userNameInUse">Username is already taken</span>
                      <span class="help-block" v-else-if="invalidUsername">
                        Username can contain lowercase letters, numbers, periods, dashes and can be up to 21 characters long
                      </span>
                  </div>
                  <div class="col-lg-3">
                    <label for="joinDate">Join Date <span class="text-danger">*</span></label>
                    <div class="row">
                      <div class="col-lg-9">

                        <input 
                          type="date" 
                          class="form-control" 
                          v-model="userData.joinDate"
                          min="2016-10-01"
                          :max="todaysDate"
                          required
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <!-- personnal links -->
                <div class="form-group row">
                  <!-- github link -->
                  <div class="col-lg-4" :class="[validateGitHubUrl(userData.gitHub) ? '' : 'has-error']">
                    <label for="gitHub">Link to Your GitHub <span class="text-danger">*</span></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      placeholder="https://github.com/example"
                      v-model.lazy="userData.gitHub"
                      required
                    >
                    <span class="help-block" v-if="!validateGitHubUrl(userData.gitHub)">Make sure link starts with https://github.com/</span>
                  </div>

                  <!-- portfolio link -->
                  <div class="col-lg-4">
                    <label for="portfolio">Link to Your Portfolio</label>
                    <input 
                      type="text" 
                      class="form-control" 
                      placeholder="www.my-portfolio.com"
                      v-model="userData.portfolio"
                    >
                  </div>

                  <!-- blog link -->
                  <div class="col-lg-4">
                    <label for="blog">Link to Your Coding Blog</label>
                    <input 
                      type="text" 
                      class="form-control" 
                      placeholder="http://www.example-blog.com"
                      v-model="userData.blog"
                    >
                  </div>
                </div>

                <!-- cohort intro -->
                <div class="form-group">
                  <label for="userStory">Enter Your Chingu Cohort Intro (It's best to copy & past this from Slack by selecting edit message) <span class="text-danger">*</span></label>
                  <div class="row">
                    <div class="col-lg-6">
                      <textarea 
                        class="form-control" 
                        placeholder="My story begins...."
                        v-model.lazy="userData.story"
                        rows="3"
                        required
                      >
                      </textarea>
                    </div>
                  </div>
                </div>

                <!-- cohort list -->
                <div class="form-group" v-for="(userCohort, index) of userData.cohorts" :key="index">
                  <label for="cohorts">Cohort <span class="text-danger">*</span></label>
                  <div class="row">
                    <div class="col-lg-2">
                      <select 
                        name="cohortList" 
                        class="form-control"
                        v-model="userCohort.cohortName"
                        required
                      >
                        <option 
                          v-for="cohort of cohorts" 
                          :key="cohort"
                          :value="cohort"
                          :disabled="disableEntry(cohort, filteredCohorts)"
                        >
                          {{cohort}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button 
                    type="button"
                    class="btn btn-chingu-blue"
                    @click="addNewCohort"
                  >
                    Add Another Cohort
                  </button>
                </div>

                <h3><strong>Optional</strong></h3>

                <!-- populate coding languages -->
                <div class="form-group row" v-for="(language, index) of userData.skills.languages" :key="index">
                  <div class="col-lg-2">
                    <label for="language">Language <span class="text-danger">*</span></label>
                    <select 
                      name="languageList" 
                      class="form-control"
                      v-model="language.name"
                      required
                    >
                      <option 
                        v-for="language of languages" 
                        :key="language" 
                        :value="language" 
                        :disabled="disableEntry(language, filteredLanguages)"
                      >
                        {{language}}
                      </option>
                    </select>
                  </div>
                  
                  <div class="col-lg-2" >
                    <label for="cohorts">Skill Level <span class="text-danger">*</span></label>
                    <select 
                      name="skillSelect"
                      class="form-control"
                      v-model="language.level"
                      required
                    >
                      <option v-for="skillLevel of levels" :key="skillLevel" :value="skillLevel">
                        {{skillLevel}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <button 
                    type="button"
                    class="btn btn-chingu-blue"
                    @click="addNewLanguage"
                  >
                    Add Another Language
                  </button>
                </div>

                <!-- populate frameworks -->
                <div class="form-group row" v-for="(framework, index) of userData.skills.frameworks" :key="index">
                  <div class="col-lg-2">
                    <label for="framework">Framework <span class="text-danger">*</span></label>
                    <select 
                      name="frameworkList" 
                      class="form-control"
                      v-model="framework.name"
                      required
                    >
                      <option 
                        v-for="framework of frameworks" 
                        :key="framework" 
                        :value="framework"
                        :disabled="disableEntry(framework, filteredFrameworks)"
                      >
                        {{framework}}
                      </option>
                    </select>
                  </div>
                  
                  <div class="col-lg-2" >
                    <label for="cohorts">Skill Level <span class="text-danger">*</span></label>
                    <select 
                      name="skillSelect"
                      class="form-control"
                      v-model="framework.level"
                      required
                    >
                      <option v-for="skillLevel of levels" :key="skillLevel" :value="skillLevel">
                        {{skillLevel}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <button 
                    type="button"
                    class="btn btn-chingu-blue"
                    @click="addNewFramework"
                  >
                    Add Another Framework
                  </button>
                </div>

                <!-- populate projects -->
                <div class="form-group row" v-for="(project, index) of userData.projects" :key="index">
                  <div class="col-lg-2">
                    <label for="project">Project <span class="text-danger">*</span></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      placeholder="the best portfolio"
                      v-model="project.name"
                    >
                  </div>
                  
                  <div class="col-lg-4" :class="[validateGitHubUrl(project.gitHub) ? '' : 'has-error']">
                    <label for="project">GitHub Link <span class="text-danger">*</span></label>
                    <input 
                      type="text" 
                      class="form-control" 
                      placeholder="https://github.com/project-link"
                      v-model.lazy="project.gitHub"
                      required
                    >
                    <span class="help-block" v-if="!validateGitHubUrl(project.gitHub)">Make sure link starts with https://github.com/</span>
                  </div>

                  <div class="col-lg-3">
                    <div class="row">
                      <div class="col-lg-9 col-lg-offset-1">
                        <label for="project">Completed At <span class="text-danger">*</span></label>
                        <input 
                          type="date"
                          class="form-control" 
                          v-model="project.completedAt"
                          :max="todaysDate"
                          required
                        >
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-lg-3">
                    <label for="project">Front End Url</label>
                    <input 
                      type="text" 
                      class="form-control" 
                      placeholder="http://www.myportfolio.com"
                      v-model="project.url"
                    >
                  </div>
                </div>
                <div class="form-group">
                  <button 
                    type="button"
                    class="btn btn-chingu-blue"
                    @click="addNewProject"
                  >
                    Add Another Project
                  </button>
                </div>

                <!-- FCC certifications -->
                <h3><strong>Free Code Camp Certifications</strong></h3>
                <div class="form-group">
                  <button 
                    type="button"
                    class="btn btn-chingu-blue"
                    :disabled="frontEndCertAdded"
                    @click="addNewCertificate('front end')"
                  >
                    Front End Certification
                  </button>
                  <button 
                    type="button"
                    class="btn btn-chingu-blue"
                    :disabled="dataVisCertAdded"
                    @click="addNewCertificate('data visualization')"
                  >
                    Data Visualization Certification
                  </button>
                  <button 
                    type="button"
                    class="btn btn-chingu-blue"
                    :disabled="backEndCertAdded"
                    @click="addNewCertificate('back end')"
                  >
                    Back End Certification
                  </button>
                </div>

                <div v-for="(certification, index) of userData.certifications" :key="index">
                  <h4><strong>{{certification.name}}</strong></h4>

                  <div class="form-group row">
                    <div class="col-lg-6" :class="[validateFreeCodeCampUrl(certification.url) ? '' : 'has-error']">
                      <label for="certification">Certification Url <span class="text-danger">*</span></label>
                      <input 
                        type="text" 
                        class="form-control" 
                        placeholder="https://www.freecodecamp.com/username/x-x-certification"
                        v-model.lazy="certification.url"
                        required
                      >
                      <span class="help-block" v-if="!validateFreeCodeCampUrl(certification.url)">Correct link format: https://www.freecodecamp.com/username/x-x-certification</span>                        
                    </div>
                    
                    <div class="col-lg-3">
                      <div class="row">
                        <div class="col-lg-9">
                          <label for="project">Date Received <span class="text-danger">*</span></label>
                          <input 
                            type="date" 
                            class="form-control"
                            v-model="certification.date"
                            :max="todaysDate"
                            required
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button type="submit" class="btn btn-submit" :disabled="!inputIsValid">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="jumbotron" v-else>
          <div class="row">
            <div class="col-lg-12">
              <h3>Profile Created Successfully! You can now access your profile on Slack!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
   <script src="https://unpkg.com/vue@2.4.2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="scripts/createProfile.js"></script>
</html>
