<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Enter Your Chingu Profile Information:</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <form @submit="submitForm" action="/form" method="post">
              <div class="form-group">
                <label for="portfolioURL">Link to Your Portfolio:</label>
                <input 
                  type="url" 
                  class="form-control" 
                  placeholder="www.example.com"
                  v-model="userData.portfolioURL"
                >
              </div>

              <div class="form-group">
                <label for="gitHubURL">Link to Your GitHub:</label>
                <input 
                  type="url" 
                  class="form-control" 
                  placeholder="www.github.com/example"
                  v-model="userData.gitHubURL"
                >
              </div>

              <div class="form-group">
                <label for="blogURL">Link to Your Coding Blog:</label>
                <input 
                  type="url" 
                  class="form-control" 
                  placeholder="www.example-blog.com"
                  v-model="userData.blogURL"
                >
              </div>

              <div class="form-group">
                <label for="userStory">* Enter Your Chingu Cohort Intro: (It's best to copy & past this from Slack)</label>
                <textarea 
                  class="form-control" 
                  placeholder="My story begins...."
                  v-model.lazy="userData.story"
                  rows="3"
                  required
                >
                </textarea>
              </div>

              <div class="form-group" v-for="(userCohort, index) of userData.cohorts" :key="index"> <!-- FIXME: can we establish a better key for iteration? -->
                <label for="cohorts">* Cohorts:</label>
                <select 
                  name="cohortList" 
                  class="form-control"
                  v-model="userCohort.cohortName"
                >
                  <option v-for="cohort of ajaxData.cohorts" :key="cohort.name" :value="cohort.name">
                    {{cohort.name}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <button 
                  type="button"
                  class="btn btn-default"
                  @click="addNewCohort"
                >
                  Add a New Cohort
                </button>
              </div>

              <div class="form-group row" v-for="(userTechs, index) of userData.languages" :key="index"> <!-- FIXME: can we establish a better key for iteration? -->
                <!-- populate techs -->
                <div class="col-lg-6">
                  <label for="techSkill">* Language:</label>
                  <select 
                    name="langaugeList" 
                    class="form-control"
                    v-model="userTechs.name"
                    required
                  >
                    <option v-for="langauge of ajaxData.languages" :key="langauge" :value="langauge">
                      {{langauge}}
                    </option>
                  </select>
                </div>
                <!-- populate skill levels -->
                <div class="col-lg-6" >
                  <label for="cohorts">* Skill Level:</label>
                  <select 
                    name="skillSelect"
                    class="form-control"
                    v-model="userTechs.level"
                    required
                  >
                    <option v-for="skillLevel of ajaxData.levels" :key="skillLevel" :value="skillLevel">
                      {{skillLevel}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <button 
                  type="button"
                  class="btn btn-default"
                  @click="addNewLanguage"
                >
                  Add a New Language
                </button>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- TEMPORARY ROW -->
        <div class="row text-center">
          <div>{{userData}}</div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue@2.4.2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
</html>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      userData: {
        portfolioURL: '',
        gitHubURL: '',
        blogURL: '',
        story: '', // chingu intro
        cohorts: [],
        languages: []
      },
      // temp fake data
      ajaxData: {
        "cohorts": [
          {
            "name": "Ewoks",
          },
          {
            "name": "Tapirs",
          },
          {
            "name": "Sloths",
          },
          {
            "name": "Kiwis",
          },
          {
            "name": "Platypus",
          },
          {
            "name": "Bearded-Dragons",
          },
          {
            "name": "Armadillos",
          },
          {
            "name": "Red-Pandas",
          },
          {
            "name": "Honey-Badgers",
          },
          {
            "name": "Elephants",
          },
          {
            "name": "Dolphins",
          },
          {
            "name": "Pumas",
          },
          {
            "name": "Llamas",
          }
        ],
        "languages": [
          "React",
          "Angular",
          "JavaScript",
          "Python"
        ],
        levels: [
          "Beginner",
          "Intermediate",
          "Expert",
          "Wizard"
        ]
      },
    },
    methods: {
      addNewCohort() {
        const defaultCohort = this.ajaxData.cohorts[0].name;

        this.userData.cohorts.push({cohortName: defaultCohort});
      },
      addNewLanguage() {
        const defaultLanguage = this.ajaxData.languages[0]
        const defaultSkillLevel = 'Intermediate'

        this.userData.languages.push({name: defaultLanguage, level: defaultSkillLevel})
      },
      submitForm(event) {
        event.preventDefault()
        console.log('I was clicked') //FIXME:
        axios.post('/form', {userData: this.userData})
          .then(response => console.log(response))
      }
    },
    created() {
      this.addNewCohort()
      
    }
  })
</script>