<!--

Great work so far man. This is exactly what I was picturing as a "skeleton" form for us to begin testing.

Once you finish adding all fields here's a quick list of things to tighten up:

add some sort of indication of which sections are optional / required. could be colored fields, labels, etc
    maybe consider splitting the form into required or optional but encouraged. not sure which is more likely
    to encourage users to add more detail

cohort intro: add a note that importing directly from an "edit message" slack window will preserve the markdown
    side note: we should look into this. the bot should respond in the chat with the requested user's story. i believe
    but havent confirmed that the bot will be able to pass the text as one long string (markdown and all)

give more detail on the cohorts section.
    "Pick your currenty cohort" then
        "add previous cohorts"

i think we already discussed this but just so all the notes are in one place:
    the technologies section should instruct the user on selection their languages and skill level then
        having the option of adding frameworks [loaded once a language is selected] and skill level in those

    so an option for the first and additional main [language] inputs
    and an indented option for the first and additional sub [framework] inputs, per main [language] section


-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chingu | Create Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Enter Your Chingu Profile Information:</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="text-danger">* Required</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <form @submit="submitForm" action="/form" method="post">

              <!-- username -->
              <div class="form-group">
                <label for="username">Username:</label>
                <input 
                  type="text" 
                  class="form-control" 
                  placeholder="the-happy-meerkat"
                  v-model="userData.username"
                >
              </div>
              
              <!-- personnal links -->
              <div class="form-group">
                <label for="portfolioURL">Link to Your Portfolio:</label>
                <input 
                  type="url" 
                  class="form-control" 
                  placeholder="www.my-portfolio.com"
                  v-model="userData.portfolioURL"
                >
              </div>

              <div class="form-group">
                <label for="gitHubURL">Link to Your GitHub:</label>
                <input 
                  type="url" 
                  class="form-control" 
                  placeholder="www.github.com/example"
                  v-model="userData.gitHubURL"
                >
              </div>

              <div class="form-group">
                <label for="blogURL">Link to Your Coding Blog:</label>
                <input 
                  type="url" 
                  class="form-control" 
                  placeholder="www.example-blog.com"
                  v-model="userData.blogURL"
                >
              </div>

              <!-- cohort intro -->
              <div class="form-group">
                <label for="userStory">* Enter Your Chingu Cohort Intro: (It's best to copy & past this from Slack)</label>
                <textarea 
                  class="form-control" 
                  placeholder="My story begins...."
                  v-model.lazy="userData.story"
                  rows="3"
                  required
                >
                </textarea>
              </div>

              <!-- cohort list -->
              <div class="form-group" v-for="(userCohort, index) of userData.cohorts" :key="index">
                <label for="cohorts"><span class="text-danger">*</span> Cohorts:</label>
                <select 
                  name="cohortList" 
                  class="form-control"
                  v-model="userCohort.cohortName"
                  required
                >
                  <option v-for="cohort of ajaxData.cohorts" :key="cohort.name" :value="cohort.name">
                    {{cohort.name}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <button 
                  type="button"
                  class="btn btn-default"
                  @click="addNewCohort"
                >
                  Add a New Cohort
                </button>
              </div>

                <!-- populate coding languages -->
              <div class="form-group row" v-for="(language, index) of userData.skills.languages" :key="index">
                <div class="col-lg-6">
                  <label for="language"><span class="text-danger">*</span> Language:</label>
                  <select 
                    name="languageList" 
                    class="form-control"
                    v-model="language.name"
                    required
                  >
                    <option v-for="language of ajaxData.languages" :key="language" :value="language">
                      {{language}}
                    </option>
                  </select>
                </div>
                
                <div class="col-lg-6" >
                  <label for="cohorts"><span class="text-danger">*</span> Skill Level:</label>
                  <select 
                    name="skillSelect"
                    class="form-control"
                    v-model="language.level"
                    required
                  >
                    <option v-for="skillLevel of ajaxData.levels" :key="skillLevel" :value="skillLevel">
                      {{skillLevel}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <button 
                  type="button"
                  class="btn btn-default"
                  @click="addNewLanguage"
                >
                  Add a New Language
                </button>
              </div>

              <!-- populate frameworks -->
               <!-- <div class="col-lg-6" >
                  <label for="cohorts"><span class="text-danger">*</span> Skill Level:</label>
                  <select 
                    name="skillSelect"
                    class="form-control"
                    v-model="userTechs.level"
                    required
                  >
                    <option v-for="skillLevel of ajaxData.levels" :key="skillLevel" :value="skillLevel">
                      {{skillLevel}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <button 
                  type="button"
                  class="btn btn-default"
                  @click="addNewLanguage"
                >
                  Add a New Language
                </button>
              </div>  -->

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- TEMPORARY ROW -->
        <div class="row text-center">
          <div>{{userData}}</div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue@2.4.2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
</html>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      userData: {
        username: '',
        portfolioURL: '',
        gitHubURL: '',
        blogURL: '',
        joinDate: '',
        story: '', // chingu slack intro
        cohorts: [],
        skills: {
          languages: [],
          levels: []
        },
        projects: [],
        certifications: []
      },
      // temp fake data
      ajaxData: {
        "cohorts": [
          {
            "name": "Ewoks",
          },
          {
            "name": "Tapirs",
          },
          {
            "name": "Sloths",
          },
          {
            "name": "Kiwis",
          },
          {
            "name": "Platypus",
          },
          {
            "name": "Bearded-Dragons",
          },
          {
            "name": "Armadillos",
          },
          {
            "name": "Red-Pandas",
          },
          {
            "name": "Honey-Badgers",
          },
          {
            "name": "Elephants",
          },
          {
            "name": "Dolphins",
          },
          {
            "name": "Pumas",
          },
          {
            "name": "Llamas",
          }
        ],
        "languages": [
          "JavaScript",
          "Python",
          "Java",
          "C++"
        ],
        frameworks: [
          "React",
          "Angular",
          "Vue",
          "Flask"
        ],
        levels: [
          "Beginner",
          "Intermediate",
          "Expert",
          "Wizard"
        ]
      },
    },
    methods: {
      addNewCohort() {
        const defaultCohort = this.ajaxData.cohorts[0].name;

        this.userData.cohorts.push({cohortName: defaultCohort});
      },
      addNewLanguage() {
        const defaultLanguage = this.ajaxData.languages[0]
        const defaultSkillLevel = 'Intermediate'

        this.userData.skills.languages.push({name: defaultLanguage, level: defaultSkillLevel})
      },
      submitForm(event) {
        event.preventDefault()
        console.log('I was clicked') //FIXME:
        axios.post('/form', {userData: this.userData})
          .then(response => console.log(response))
      }
    },
    created() {
      this.addNewCohort()
      
    }
  })
</script>
<!-- 
let data = {
        userName : 'vampiire',

        portfolio : 'https://www.jessec.org',
        gitHub: 'https://www.github.com/jessec',
        blog: 'https://medium.com/@jessec',

        story: 'I am the story',

        joinDate: 4, //TODO:

        cohort: [{ //TODO:
            cohortName : 'Walruses',
            startDate : 4
        }],

        aptitudes: {

            languages : [{
                name : 'javascript',
                level : 'intermediate'
            }],

            frameworks: [{//TODO:
                name : 'bootstrap',
                level : 'intermediate'
            }]
        },

        projects: [{//TODO:
            name : 'portfolio',
            url : 'https://www.jessec.org',
        }],

        certifications: [{//TODO:
            name: 'Front End Certification'
        }]
    }; -->